#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

ion-icon {
  font-size: 25px; //Preferred size here
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.delete{
  width: 10%;
  background-color:#e4a8a8;
}

.item-content {
  background-color:#95ee89;
} 

.botoncito{
  --ion-item-background:#e1fff8d8;
  color:blue;
  font-weight: bold;

}

.add{
  font-weight: bold;
  color: green;
  font-size: 15px;
  line-height: 22px;
  background-color:#def3d5;
}