ion-icon {
    font-size: 35px; //Preferred size here
  }

  .botoncito{
    --ion-item-background:#e1fff8d8;
    color:blue;
    font-weight: bold;
  }

  .icon2{
    font-size: 18px; //Preferred size here
    color:green;
    transform: translateX(-50%);

  }

  .title{    
    --background: #e1fff8d8; 
  }